.sidebar {
  position: sticky;
  top: 60px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar_header_logo {
  width: 100%;
  height: 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}
.sidebar_top > h4 {
  color: gray;
  font-size: 1.2rem;
}
.sidebar_top > h2 {
  font-size: 1.6rem;
}

.sidebar_avatar {
  object-fit: contain !important;
  width: 70px !important;
  height: 70px !important;
  display: flex;
  overflow: hidden;
  position: relative !important;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0 !important;
  border-radius: 50%;
  justify-content: center !important;
  margin-top: -2rem !important;
  margin-bottom: 10px !important;
}

.sidebar_stats {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar_stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar_stat > p {
  color: gray;
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar_statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar_bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar_bottom > p {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.sidebar_recentItem {
  display: flex;
  font-size: 1.3rem;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.sidebar_recentItem > p,
.sidebar_hash {
  font-size: 1.2rem;
}

.sidebar_recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar_hash {
  margin-right: 10px;
  margin-left: 5px;
}
